/* *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} */
/* -----------------recrutement */
.offre{
    background-color:#f9F4F4;
    border-radius: 50px;
}

.soustitre{
    color:#CE0033 ;
}
.texte{
    color: black;
}
h3{
    color:#CE0033 ;
}

.lien{
    color:#CE0033 ;

}
.message{
    height: 170px;
}
.check{
    font-weight: bold ;
}
.T{
    color: gray;
}
.ligne{
    color:#CE0033 ;
    
}
.ligne1{
    color:#CE0033;
    margin-top: 20px ;
}
.ligne2{
    color:#CE0033;
    margin-top: 2px ;
}
.ligne3{
    color:#CE0033;
    margin-top: 2px ;
}
.liste{
    background-color: #f9F4F4;
    font-size: 25px;
}
.Bouton{
    margin-top: 2px;
}
li{
    list-style-type: none;
    font-size: 18px;
}
.carte{
    border-radius: 20px ;
}
.plus{
    text-align: end;
}
.formulaire{
    margin-left: 12px ;
}

/* ------------------partenaire----------- */
.partenaire{
    color: #CE0033;
    font-weight: bold;
}


/* footer */

footer{
    background-image: url('img/unknown11.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.pedact{
    color:#CE0033 ;
}
.img1{
    margin-top: 50px;
}
.reseau{
    margin-left: 100px;
    margin-top: 20px;
}
.row{
    margin: 0 !important;
}
.join{
    margin-top: 00px;
    width: 270px;
    
}
.color{
    background-color:#CE0033 ;
    color: blanchedalmond;
    border: solid 0px;
} */
.ref{
    font-weight: bold;
    color: blanchedalmond;
    height: 60px;
    width: 100%;
}
.copyright{
    background-color:#CE0033 ;
    margin: 0 !important;

}
.ecriture{
    /* margin-top: 20px; */
    /* margin-left: 50px; */
    color: white;
}
.done{
    text-align: end;
    /* margin-top: -40px; */
    color: white;

}
.contact{
    font-weight: bold;
    font-size: 16px;
}
/* equipe */
.equipe{
    color:#CE0033 ;
    text-align: center;
    font-weight: bolder;
}
.descrip{
    color: black;
    text-align: center;
}
.name{
    font-size: 20px;
    font-weight: bold;
}
.poste{
    color:#CE0033 ;
    font-weight: bold;
}
.element{
    color: gray;
}
.border{
    height: 420px;
    width: 350px;
    border-radius: 5px;
}
.tableau3{
    margin-left: px;
}
.tableau2{
    margin-left: px;
}
.tableau{
    margin-left: px;
}
/* equipe */
.chiffre{
    font-weight: bold;
    color:#CE0033 ;
    text-align: center;
}
.noschiffres{
    background-image: url("img/unknown23.png");
    height: 200px;
}
.pourcentage{

    color: white;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
}
.pourcentage2{
    color: white;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
}
.pourcentage3{
    color: white;
    font-weight: bold;
    font-size: 40px;
    text-align: center  ;
}
.valeur{
    font-weight: bold;
    color:#CE0033 ;
    text-align: center;
}
.respect{
    color:#CE0033 ;
    font-size: 30px;
}
.point{
    background-color: rgb(223, 185, 185)
    ;
    color:#CE0033 ;
    border-radius: 100px;
    border: solid 0px;
    font-weight: bold;
    width: 70px;
    height: 70px;
    text-align: center;
    font-size: 30px;
    
}
.border2{
    height: 120px;
    width: 650px;
}
.zeroun{
    margin-top: 20px;
    background-color: rgb(223, 185, 185)
    ;
    color:#CE0033 ;
    border-radius: 100px;
    border: solid 0px;
    font-weight: bold;
    width: 70px;
    height: 70px;
    text-align: center;
    font-size: 30px;
}
.respect2{
    margin-top: 25px;
    text-align: left;
}
.span01{
    margin-top: 10px;
    margin-left: 5px;
}
.triangle{
    height: 0px;
    width: 0px;
    border-top : solid transparent 20px;
    border-right: solid #CE0033 20px;
    border-bottom: solid transparent 20px;
    margin-top: 180px;
    margin-left: 50px;
}
/* --------------pedagogie-------------------------------- */
.pedagogie{
    margin-top: 50px;
    font-weight: bold;
    color:#CE0033 ;
    text-align: left;
    font-size: 30px;
}
.pedagodie1{
    font-weight: bold;
    color:#CE0033 ;
    font-size: 40px;
}
.pedagodie2{
    font-weight: bold;
    margin-top: -20px;
}
.ped{
    width: 330px;
    height: 240px;
}
.peda{
    background-color:#CE0033 ;
    width: 330px;
    height: 10px;
    margin-left:-14px;
    margin-top:30px ;
    border-radius: 0px;
}
.ped2{
    width: 390px;
    height: 240px;
}
.bloc{
    margin-left: 320px;
    margin-top: -500px;
}
.bloc2{
    width: 130px;
    margin-left:-55px ;
    margin-top: -50px;
}
.plan{
    margin-top: -815px;
    margin-left: 790px;
    height: 800px;
    background-color:#CE0033 ;
    border-radius: 20px;
    width: 525px;
}
.plan2{
    height: 790px;
    border-radius: 20px;
    margin-top: 30px;
    margin-right: 30px;
    width: 490px;
    margin-left: -12px;
}
.contped{
    font-weight: bold;
    color:#CE0033 ;
    font-size: 40px;
    text-align: center;
    margin-top: 50px;
    font-weight: bold;   
}
/* --------header-------- */
.menu{
    font-weight: bold;
}
.Logo-simplon{
    height: 50px;
    width:150px ;
}
.fr{
    color: black;

}
.boutoncontacter{
    margin-left: -70px;
}
.barredenav{
    position: fixed;
    margin-top: -50px;
}
.recherche{
    width: 50px;
    height: 40px;
}
.barrerecherche{
    margin-left: -85px;
}
/* --------header-------- */




/* ------------lhistoire de la fabrique */
.petitehistoire{
    color:#CE0033 ;
    text-align: center;
}
.ouverturefabrique{
    color:white ;
    z-index:70;

}
.borderhistoire{
    background-color:#CE0033 ;
    border-bottom-right-radius: 50px;
    border-bottom: 30px #f78ba6 solid;
    box-shadow:0 30px #f1adbe ;
    /* width:100%; */
    box-sizing: content-box;
    z-index:40;
    text-align: end ;
    font-size:50px;
}

.anne{
    color: white;
    font-size: 50px;
    font-weight: bold;
    text-align: end;

}

 
 .borderhistoire4{
    border-radius: 10px;
    margin-top: -400px;
    z-index: 5;
    background-color:white ;
    position: relative;
    width: 450px;
    margin-left: 40px;
}
.borderhistoire5{
    z-index: 1;
    background-color:#CE0033;
    transform: rotate(6deg);
    position: relative;
    width: 450px;


}
.rectangle{
    position: absolute;
    left: 7%;
    top: -100px;
    z-index: 3;
}
.histo{
    z-index: 4;
    position: absolute;
    font-style: italic;
    background-color: white;
    width:521px ;
    height: 545px;
    border-radius: 20px;
    padding: 20px;box-shadow: -24px -7px 33px 6px rgba(152, 147, 147, 0.25);
    /* margin-left: 50px; */
    /* margin-right: 50px; */
    /* margin-top: 80px; */
}
.g1{
    /* margin-top: -380px; */
    width: 40px;
    height: 40px;
    /* margin-left: 20px; */
}
.g2{
    float: right;
    /* margin-top: 300px; */
    /* margin-right: 20px; */
}
/* histoire de la fabrique */
h1{
    color:#CE0033 ;
}